---
import "../styles/global.css";
import { CLASSES } from "../classes";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE, SITE_LANG, THEME_STORAGE_KEY } from "../consts";

interface Props {
	title: string;
	description?: string;
}

const { title, description = SITE_DESCRIPTION } = Astro.props;
---

<!doctype html>
<html lang={SITE_LANG}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<title>{title} | {SITE_TITLE}</title>
		<script is:inline define:vars={{ THEME_STORAGE_KEY }}>
			// On page load or when changing themes, best to add inline in `head` to avoid FOUC
			if (
				localStorage.getItem(THEME_STORAGE_KEY) === "dark" ||
				(!(THEME_STORAGE_KEY in localStorage) &&
					window.matchMedia("(prefers-color-scheme: dark)").matches)
			) {
				document.documentElement.classList.add("dark");
			} else {
				document.documentElement.classList.remove("dark");
			}
		</script>
	</head>
	<body class={CLASSES.layout.body}>
		<Header />
		<main class="flex-grow">
			<slot />
		</main>
		<Footer />
	</body>
</html>